body{
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
}

h1{
  color: black;
}

p{
  text-align: left;
  font-size:40px;
  width: 80px;
  height: 150px;
  background-color: #eeeff2;
  margin: 10px;
  padding-left: 10px;
  border-left-style: dotted;
  border-left-width: 10px;
  border-left-color: #D0D0FF;
}

#p1{
  position: fixed;
}

#p2{
  position: fixed;
  left: 120px;
}

#p3{
  position: fixed;
  left: 240px;
}

#p4{
  position: fixed;
  left: 360px;  
}

#p5{
  position: fixed;
  left: 480px; 
}

#p6{
  position: absolute;
  right: 0;
  bottom: 0;
}
