
body{
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
}

h1{
  color: black;
}

p{
  
  font-size:40px;
  width: 100px;
  height: 100px;
  margin: 3% auto;
  left: 50%;
}

#p1{
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  
}

#p2{
  border-top: 1px solid #687291;
  background-color: #eeeff2;
  
}

#p3{
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  
}

#p4{
  border-top: 1px solid #687291;
  background-color: #eeeff2;
  
}

#p5{
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  
}

#p6{
  border: 4px solid black;
  background-color: #687291;
}

